<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>login_more_title</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_privacy_highlight</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>9</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_privacy</key>
	<dict>
		<key>color</key>
		<string>#CACACC</string>
		<key>size</key>
		<string>9</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_userlist_server</key>
	<dict>
		<key>color</key>
		<string>#ACADAD</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_userlist</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_channel</key>
	<dict>
		<key>color</key>
		<string>#000000</string>
		<key>size</key>
		<string>8</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_highlight</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_passport_btn</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_inputbox_tips</key>
	<dict>
		<key>color</key>
		<string>#929294</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_inputbox</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_title</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_last</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_popup_title</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_btn_cancel</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_btn_confirm</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_btn_confirm_disable</key>
	<dict>
		<key>color</key>
		<string>#999999</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_code</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>20</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_copy</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>12</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>popup_inputbox_text</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>popup_inputbox_text_tips</key>
	<dict>
		<key>color</key>
		<string>#C0C0C0</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>popup_text</key>
	<dict>
		<key>color</key>
		<string>#6E6E70</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>popup_text_highlight</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_countdown</key>
	<dict>
		<key>color</key>
		<string>#B3B3B3</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_text_bold</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_title</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>16</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>popup_age_selection</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_bind_bind</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>usercenter_bind_channel_name</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_bind_nickname</key>
	<dict>
		<key>color</key>
		<string>#999999</string>
		<key>size</key>
		<string>12</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_bind_unbind</key>
	<dict>
		<key>color</key>
		<string>#6E6E70</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_home_function_name_normal</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_home_function_name_disable</key>
	<dict>
		<key>color</key>
		<string>#B3B3B3</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_home_function_name_pressed</key>
	<dict>
		<key>color</key>
		<string>#000000</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_home_id</key>
	<dict>
		<key>color</key>
		<string>#999999</string>
		<key>size</key>
		<string>12</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_home_unbindtips</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>12</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_home_username</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>18</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_nav_title</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>16</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_webview_nav_title</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>16</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_start_btn</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>16</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_text</key>
	<dict>
		<key>color</key>
		<string>#6E6E70</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>toast_text</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>light</string>
	</dict>
	<key>usercenter_switch_subtitle</key>
	<dict>
		<key>color</key>
		<string>#6E6E70</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>usercenter_switch_edit</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_popup_edit</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_popup_subtitle</key>
	<dict>
		<key>color</key>
		<string>#999999</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_popup_text</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>usercenter_security_email_text</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>usercenter_security_email_highlight</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_inputbox_send</key>
	<dict>
		<key>color</key>
		<string>#282829</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>usercenter_inputbox_countdown</key>
	<dict>
		<key>color</key>
		<string>#6E6E70</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_email_inputbox_text</key>
	<dict>
		<key>color</key>
		<string>#FFFFFF</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_email_inputbox_text_tips</key>
	<dict>
		<key>color</key>
		<string>#76787A</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_email_btn</key>
	<dict>
		<key>color</key>
		<string>#1A1A1A</string>
		<key>size</key>
		<string>15</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>login_email_privacy</key>
	<dict>
		<key>color</key>
		<string>#E6E6E6</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_email_privacy_highlight</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_email_inputbox_countdown</key>
	<dict>
		<key>color</key>
		<string>#BBBBBB</string>
		<key>size</key>
		<string>13</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>login_popup_text_highlight</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>14</string>
		<key>weight</key>
		<string>medium</string>
	</dict>
	<key>usercenter_email_privacy</key>
	<dict>
		<key>color</key>
		<string>#6E6E70</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
	<key>usercenter_email_privacy_highlight</key>
	<dict>
		<key>color</key>
		<string>#3588E6</string>
		<key>size</key>
		<string>11</string>
		<key>weight</key>
		<string>regular</string>
	</dict>
</dict>
</plist>
